body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {

}

main {
    flex-grow: 1;
}

footer {
    min-height: 40px;
}

.row {
    min-width: 100;
}

.sushi-plate {
    max-width: 100;
    border: 5px solid;
}

.card {
    border: 2px solid;
}

/* .card {
    margin: 0;
    padding: 0;
} */
